* {
 margin: 0;
 padding: 0;
 transition: color .1s; background-color: .5s;
 color: inherit;
 text-decoration: inherit;
 box-sizing: border-box;
}

 body {
    --primary-color: #4fC6CE;
    --accent-01:#DBDBDB;
    --accent-02:#98B1BA;
    --accent-03:#26333A;
    --accent-04:#1A2328;

    font-family: calibri, sanse-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: var(--accent-04);
    color: var(--accent-01);
}

 body.light {
    --primary-color: #4fC6CE;
    --accent-01:#1D3A41;
    --accent-02:#225B60;
    --accent-03:#FFFFFF;
    --accent-04:#D5F3F9;
}

.container {
    display: grid;
    gap: 5px;
    max-width: 1300px;
    padding: 50px;
    margin: 0 auto;
}

.box {
    background-color: var(--accent-03);
    border-radius: 25px;
}

/*------- Navbar -------*/

.navbar {
    display: grid;
    gap: 5px;
    text-align: center;
    grid-template-columns: 1fr;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    position: sticky;
    top: 50px;
    z-index: 5;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--accent-02);
}

.navbar > div {
    padding: 25px 10px;
}

.navbar ion-icon {
    font-size: 32px;
    margin: auto;
}

.navbar .active,
.navbar .item:hover {
    color: var(--primary-color);
    opacity: 1;
}

/* Profile */

.profile {
    text-align: center;
    font-size: 20px;
}

.profile .header {
    max-width: 40vh;
    width: 100%;
    border-radius: 25px 25px 0 0;
    clip-path: polygon(100% 0, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 0);
}

.profile .img {
    width: 140px;
    position: relative;
    margin: -60px auto 0;
    border: var(--accent-04) 8px solid;
    border-radius: 35px;
}

.profile p {
    margin-top: 10px;
    height: 20px;
}

.profile ul {
    list-style-type: none;
    margin: 30px 0 80px 0;
}

.profile ul li {
    display: inline;
}

.profile .footer {
    position: sticky;
    top: calc(100vh - 100px);
}

.profile table {
    width: 100%;
    padding-bottom: 15px;
}

.profile ion-icon {
    color: var(--accent-02);
    transition: color .5s, border-color .5s, background-color .5s;
    margin-bottom: -7px;
}

.profile ul ion-icon {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--accent-04);
}

.profile ul ion-icon:hover {
    border-color: var(--accent-04);
}

.profile ion-icon:hover {
    color: var(--primary-color);
}

.profile table ion-icon {
    padding: 5px;
    border-radius: 10px;
    transition: color .5s, background-color .5s;
}

.profile td:hover ion-icon {
    background-color: var(--primary-color);
    color: var(--accent-04);
}



/* ============Responsiveness================== */

/* Desktop */
@media screen and (width >= 1024px) {
    .container {
        grid-template-columns: 85px 430px 1fr;
    }
}

/* Tablet */
@media screen and (width >= 768px) and (width <= 1023px) {
    .container {
        grid-template-columns: 85px 1fr;]
        max-width: 650px;
    }
}

/* Mobile */
@media screen and (width <= 769px) {
    .container {
        grid-template-columns: 1fr;
        max-width: 500px;
        padding: 20px;
        padding-top: 50px;
    }
}





/*====================/*
.divider {
    height: 2px;
    width: 100%;
    margin: 15px 0;
}

.ltr {
    background: radial-gradient(ellipse at left, var(--accent-02) -70%, transparent 80&);
}
.rtl {
    background: radial-gradient(ellipse at right, var(--accent-02) -70%, transparent 80&);
}